{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Gestion des développeurs {% endblock %}

{% block contenu %}

    <h1>Gestion des développeurs</h1>
    <div class="panel panel-default"> 

        <div class="panel-heading">Gestion des utilisateurs</div>


        <div class="table-responsive"> 
            <table class="table table-hover table-striped">


                {% for u in liste %}

                    <tr>
                        <td>{{u.email}}</td>
                        <td>{{u.nom}}</td>
                        <td>{{u.prenom}}</td>
                        <td>{{u.libellerole}}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-lg">
                            <a href="index.php?page=developpeur&email={{ u.email }}">
                            <i class="fas fa-trash"></i>
                            Supprimer</button>
                        </td>
                    </tr> 

                {% endfor %}    
            </table>
        </div>
    </div>
            
            
       <div class="card-body mx-auto" style="width: 70%; height: 70%">
            <h1>Liste des Utilisateurs</h1>  
            <div class="panel panel-default"> 

            <div class="table-responsive border"> 
                <table class="table table-hover border-bottom">
                    <tr>
                        <td class='container-fluid'>
                            <h3><strong>Utilisateurs</strong></h3>
                        </td>
                    </tr>

                    {% for u in liste %}

                        <tr>
                            
                            <td>
                                <h4>
                                    <strong>{{ u.email }} </strong>
                                </h4>
                            </td>

                            <td>
                                    <button type="button" class="btn btn-default btn-lg">
                                    <a href="index.php?page=langage&id={{u.email}}" >
                                    <i class="fas fa-trash"></i>
                                    Supprimer</button>
                            </td>
                        </tr> 

                    {% endfor %}    
                </table>
            </div>
        </div>    
    </div>         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
{% endblock %} 
