{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Accueil {% endblock %}


{% block contenu %}

    <h1>Les commentaires</h1>
    <div class="panel panel-default"> 




        <div class="table-responsive"> 
            <table class="table table-hover table-striped">
                <tr><th>Date</th><th>Nom</th><th>Message</th><th>Note</th><th></th><th></th></tr>

                {% for u in liste %}

                    <tr><td>{{date}}</td><td>{{u.nom}}</td><td>{{message}}</td><td>{{note}}</td ><td> <div class="btn-group btn-group-lg"><a href="#"><span class="glyphicon glyphiconpencil" aria-hidden="true"></span></a></div></td><td><div class="btn-group btn-group-lg"><a href="#"><span class="glyphicon glyphicon-trash"></span></a></div></td></tr> 

                {% endfor %}
            </table>
        </div>
    </div>


{% endblock %}