<<<<<<< HEAD
{# empty Twig template #}
=======
{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Accueil {% endblock %}


{% block contenu %}

    <h1>Les commentaires</h1>
    <div class="panel panel-default"> 



<<<<<<< HEAD
<<<<<<< HEAD
{% block contenu %}
    
    Test
            
        
{% endblock %}    
>>>>>>> 23c7b0e4e16463b41df5f4e7e20b6541e997b3b1
=======
{% block contenu %} <h1>Test </h1> {% endblock %} 
>>>>>>> a506c4ae73c198888fc7ef5273b50b5c73339f18
>>>>>>> 96d2d3bc1f300e6e9714bae97a5f06a2175bafc3
=======

        <div class="table-responsive"> 
            <table class="table table-hover table-striped">
                <tr><th>Date</th><th>Nom</th><th>Message</th><th>Note</th><th></th><th></th></tr>

                {% for u in liste %}

                    <tr><td>{{date}}</td><td>{{u.nom}}</td><td>{{message}}</td><td>{{note}}</td ><td> <div class="btn-group btn-group-lg"><a href="#"><span class="glyphicon glyphiconpencil" aria-hidden="true"></span></a></div></td><td><div class="btn-group btn-group-lg"><a href="#"><span class="glyphicon glyphicon-trash"></span></a></div></td></tr> 

                {% endfor %}
            </table>
        </div>
    </div>


{% endblock %}
>>>>>>> 909f920e643eda3662c77dd503c11d72dcd0b40f
