{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Langages {% endblock %}       

{% block contenu %} 
 <div class="container">   
    {% if form.supression is defined %}
        {% if form.supression == true %}
            
            <div class="container-fluid" style="margin-top: 2em">
                <div class="alert alert-success alert-dismissible fade show mx-auto mx-lg-auto"  role="alert">
                    <strong> {{ form.messagesupression }}</strong>
                    
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                 
    
                </div>
            </div>    
                
                
        {% else %}
            
            <div class="container-fluid" style="margin-top: 2em">
                <div class="alert alert-danger alert-dismissible fade show mx-auto mx-lg-auto" role="alert">
                    <strong> {{ form.messagesupression }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                 
    
                </div>            
                
                
                
                
        {% endif %}
    {% endif %}
                     
    {% if form.valide is defined %}
        {% if form.valide == true %}
            


            <div class="container-fluid" style="margin-top: 2em" >
               

                    <div class="alert alert-success alert-dismissible fade show mx-auto mx-lg-auto " style="" role="alert">
                      <strong>Langage bien inséré</strong> 
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
            </div>
            
        {% else %}

            <div class="container-fluid" style="margin-top: 2em" >
                    <div class="alert alert-warning alert-dismissible fade show mx-auto mx-lg-auto mx-md-auto" style="" role="alert">
                      <strong>{{ form.message }}</strong> 
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
            </div>
            
        {% endif %}
        {% endif %}
        
        <div class="row">
            <div class="col-md">
        <form class="form-signin" action="index.php?page=langage" method="post" enctype="application/x-www-form-urlencoded">
            <div class="card-body mx-auto" style="width: 70%; height:100%; margin-top: 2%">
                <label for="inputLibelle" class="sr-only">Langage :</label>
                <input type="text" id="inputLibelle" name="inputLibelle" class="form-control" placeholder="Langage" required autofocus>

                <div class ="card-Footer mx-auto" style="width: 100%; height:50%; " >
                <button class="btn btn-lg btn-primary btn-block mx-auto" style="width: 30%; height:80%; margin-top: 1%" type="submit" name="btAjouterLangage" id="btEnvoyer">Ajouter</button>
                </div>
            </div> 
        </form>       
            </div>
        </div>
    
        <div class="row">
            <div class="col-md">
    <div class="card-body mx-auto" style="width: 100%; height: 100%">
            <h1>Liste des Langages</h1>  
            <div class="panel panel-default"> 

            <div class="table-responsive border"> 
                <table class="table table-hover border-bottom">
                    <tr>
                        <td class='container-fluid'>
                            <h3><strong>Langages</strong></h3>
                        </td>
                    </tr>

                    {% for langage in liste %}

                        <tr>
                            
                            <td>
                                <h4>
                                    <strong>{{ langage.libelle }} </strong>
                                </h4>
                            </td>

                            <td>
                                    <button type="button" class="btn btn-default btn-lg">
                                    <a href="index.php?page=langage&id={{langage.id}}" >
                                    <i class="fas fa-trash"></i>
                                    Supprimer</button>
                            </td>
                        </tr> 

                    {% endfor %}    
                </table>
                
                
                {% set nb = form.nbpages %}
            
               <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="index.php?page=langage&nopage={{ 0 }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      
                       {% for i in 1..nb %}
                      <li class="page-item"><a class="page-link"  href="index.php?page=langage&nopage={{ i-1 }}">{{ i }}</a></li>
                        {% endfor %}
                       
                      <li class="page-item">
                        <a class="page-link" href="index.php?page=langage&nopage={{ nb-1 }}" aria-label="next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
               </nav>                 
                                
                                
                                
                                
            </div>
        </div>    
    </div>
            </div>
        </div>
         
             
 </div>

            
            
{% endblock %}