{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Langages {% endblock %}       

{% block contenu %} 
    
    {% if form.supression is defined %}
        {% if form.supression == true %}
            
            <div class="container-fluid" style="margin-top: 2em">
                <div class="alert alert-success alert-dismissible fade show mx-auto mx-lg-auto"  role="alert">
                    <strong> {{ form.messagesupression }}</strong>
                    
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                 
    
                </div>
            </div>    
                
                
        {% else %}
            
            <div class="container-fluid" style="margin-top: 2em">
                <div class="alert alert-danger alert-dismissible fade show mx-auto mx-lg-auto" role="alert">
                    <strong> {{ form.messagesupression }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>                 
    
                </div>            
                
                
                
                
        {% endif %}
    {% endif %}
                     
    {% if form.valide is defined %}
        {% if form.valide == true %}
            


            <div class="container-fluid" style="margin-top: 2em" >
               

                    <div class="alert alert-success alert-dismissible fade show mx-auto mx-lg-auto " style="" role="alert">
                      <strong>Langage bien inséré</strong> 
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
            </div>
            
        {% else %}

            <div class="container-fluid" style="margin-top: 2em" >
                    <div class="alert alert-warning alert-dismissible fade show mx-auto mx-lg-auto mx-md-auto" style="" role="alert">
                      <strong>{{ form.message }}</strong> 
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
            </div>
            
        {% endif %}
        {% endif %}
        

        <form class="form-signin" action="index.php?page=langage" method="post" enctype="application/x-www-form-urlencoded">
            <div class="card-body mx-auto" style="width: 70%; height:100%; margin-top: 2%">
                <label for="inputLibelle" class="sr-only">Langage :</label>
                <input type="text" id="inputLibelle" name="inputLibelle" class="form-control" placeholder="Langage" required autofocus>

                <div class ="card-Footer mx-auto" style="width: 100%; height:50%; " >
                <button class="btn btn-lg btn-primary btn-block mx-auto" style="width: 30%; height:80%; margin-top: 1%" type="submit" name="btAjouterLangage" id="btEnvoyer">Ajouter</button>
                </div>
            </div> 
        </form>       
    
    

    <div class="card-body mx-auto" style="width: 70%; height: 70%">
            <h1>Liste des Langages</h1>  
            <div class="panel panel-default"> 

            <div class="table-responsive border"> 
                <table class="table table-hover border-bottom">
                    <tr>
                        <td class='container-fluid'>
                            <h3><strong>Langages</strong></h3>
                        </td>
                    </tr>

                    {% for langage in liste %}

                        <tr>
                            
                            <td>
                                <h4>
                                    <strong>{{ langage.libelle }} </strong>
                                </h4>
                            </td>

                            <td>
                                    <button type="button" class="btn btn-default btn-lg">
                                    <a href="index.php?page=langage&id={{langage.id}}" >
                                    <i class="fas fa-trash"></i>
                                    Supprimer</button>
                            </td>
                        </tr> 

                    {% endfor %}    
                </table>
            </div>
        </div>    
    </div>
            
         
             


            
            
{% endblock %}