{% extends "base.html.twig" %}


{% block title %} {{ parent() }} Profil {% endblock %}


{% block contenu %} 

    {% if form.message is defined %}
            <div>
                    <div class="alert alert-success alert-dismissible fade show mx-auto mx-lg-auto mx-md-auto" role="alert">
                        <strong> {{form.message}}, <a href="index.php?page=profil" class="text-success stretched-link">cliquez ici</a></strong> 
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>   
         </div>
       {% endif %}
    
    <div class="mx-auto" style="width: 20rem; margin-top: 3%">
        <img src="../web/image/{{ liste.photo }}" class="img-fluid" alt="Responsive image"> 
        <div class="card-body">
            <form class="needs-validation"  enctype="multipart/form-data" style="margin-top: 10%; margin-left: 10%; margin-right: 10%" method="post" action="index.php?page=profil">
           
            <label for="photo" class="sr-only">Photo :</label><input type="file" name="photo" id="photo" class="form-control"/>
            <input type="hidden" name="email" value="{{ liste.email }}"/> 
            
            <button type="submit" class="btn btn-primary" name="btProfil" id="btprofil" style="margin-top: 3%">Changer image</button>
            </form>

        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-light">
                
                <tr>
                    <th scope="col">Nom et prénom</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                
                    <tr>  
                        <td>{{ liste.nom }} {{ liste.prenom }}</td><span class="glyphicon glyphiconpencil" aria-hidden="true"></span></a></div></td><td><div class="btn-group btn-group-lg"><a href="#"><span class="glyphicon glyphicon-trash" ariahidden="true"></span></a></div></td>

                    </tr>
              
            </tbody>
        </table>
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr>  
                        <td>{{ liste.email}}</td>

                    </tr>
                

        </table>
    </div>

    
    
    {% endblock %}