{% extends 'base.html.twig' %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Utilisateurs {% endblock %} 
{% block contenu %}
    
    
    
        {% if form.supressionuser is defined %}
            {% if form.supressionuser == true %}
            
                <div class="container-fluid" style="margin-top: 2em">
                    <div class="alert alert-success alert-dismissible fade show mx-auto mx-lg-auto"  role="alert">
                        <strong> {{ form.messagesupressionutilisateur }}</strong>
                    
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>                 
    
                    </div>
                </div>    
                
                
            {% else %}
            
                <div class="container-fluid" style="margin-top: 2em">
                    <div class="alert alert-danger alert-dismissible fade show mx-auto mx-lg-auto" role="alert">
                        <strong> {{ form.messagesupressionutilisateur }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                        </button>                 
    
                    </div>     
                    
                    
        {% endif %}
    {% endif %}
                

         <div class="card-body mx-auto" style="width: 70%; height: 70%">
            <div class="panel panel-default"> 

            <div class="table-responsive border"> 
                <table class="table table-hover border-bottom">
                    <tr>
                        <td class='container-fluid'>
                            <h3><strong>Utilisateurs</strong></h3>
                        </td>
                    </tr>

                    {% for u in liste %}

                        <tr>
                            
                            <td>
                                <h4>
                                    <strong>{{ u.email }} </strong>
                                </h4>
                            </td>
                            
                            <td>
                                <button type="button" class="btn btn-default btn-lg">
                                    <a href="index.php?page=modif-utilisateur={{u.email}}" >
                                    <i class="fas fa-edit"></i>
                                    Modifier</button>
                            </td>

                            <td>
                                    <button type="button" class="btn btn-default btn-lg">
                                    <a href="index.php?page=utilisateur&email={{u.email}}" >
                                    <i class="fas fa-trash"></i>
                                    Supprimer</button>
                                    
                            </td>
                        </tr> 

                    {% endfor %}    
                </table>
            </div>
        </div>    
    </div>  
  
  
  
  
  
  
  
  
  
  {% endblock %}