{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Validation email {% endblock %}

{% block contenu %} 
    
    {% if form.utilisateur is defined %}
        {% if form.utilisateur != null %} 
    <h1>Valider votre email</h1>
    
    <form action='index.php?page=validation-mail' method = 'post'>
  <div class="form-group">
    <label for="InputEmail1">Email</label>
    <input type="email" class="form-control" id="InputEmail1" name="InputEmail1" aria-describedby="emailHelp" placeholder="Email" value="{{form.utilisateur.email}}">
    
  </div>
  <div class="form-group">
    <label for="InputCode">Code</label>
    <input type="password" class="form-control" id="InputCode" name="InputCode" placeholder="Code"value="{{form.utilisateur.uniqid}}">
  </div>
  <button type="submit" class="btn btn-primary" name="btValidation" id="btValidation">Valider</button>
</form>

    {% else %}        
        <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
        <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=utilisateur">Retourner sur la liste des utilisateurs</a></h1>    
    {% endif %}        
    {% else %}      
        <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>     
        <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=utilisateur">Retourner sur la liste des utilisateurs</a></h1> 
        {% endif %}    
        {% endblock %} 